<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BIBI-5003">
  <test thread-count="5" name="ActivityCode">
    <classes>
      <class name="textCases.LoginTest"/>
      <class name="textCases.HomePageTest"/>
    </classes>
  </test> <!-- ActivityCode -->
</suite> <!-- BIBI-5003 -->
